<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQSMessageReceiver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AWSProfileName" value="DexSystem"/>
  </appSettings>
  <userSettings>
    <SQSMessageReceiver.Properties.Settings>
      <setting name="accessPKey" serializeAs="String">
        <value>Insert AWS public key here</value>
      </setting>
      <setting name="accessSKey" serializeAs="String">
        <value>Insert AWS private key here</value>
      </setting>
      <setting name="accessURL" serializeAs="String">
        <value>Insert Amazon SQS URL here</value>
      </setting>
      <setting name="Database_Path" serializeAs="String">
        <value>Enter workbench directory here(Should be same as DEXGet and ISpy Reports workbench directory)</value>
      </setting>
      <setting name="SQS_Messages_Folder" serializeAs="String">
        <value>DEX\SQS Messages\</value>
      </setting>
      <setting name="Session_Log_Folder" serializeAs="String">
        <value>Error Logs\AmazonSQSMessageReceiver\</value>
      </setting>
      <setting name="Excel_File" serializeAs="String">
        <value>Excel Files\Input\input.xml</value>
      </setting>
      <setting name="Machine_DB" serializeAs="String">
        <value>DEX\Machine Database\</value>
      </setting>
      <setting name="Dex_Tray" serializeAs="String">
        <value>Luci Files\DEX File Tray\</value>
      </setting>
      <setting name="Dex_Archive" serializeAs="String">
        <value>DEX\Archive\</value>
      </setting>
      <setting name="Machine_Archive" serializeAs="String">
        <value>DEX\Machine Archive\</value>
      </setting>
    </SQSMessageReceiver.Properties.Settings>
  </userSettings>
</configuration>